<%= render partial: "users/profile" %>

<h3 class="text-center"><%= image_tag @user_wishlist.wishlist.icon, class: "icon" %> <%= @user_wishlist.wishlist.name %> de <%= @user_wishlist.user %></h3>

<% if @user_wishlist.products.any? %>
	<%= render partial: "products/product" %>
<% else %>
	<div class="row"></div>
	<div class="col-6 col-offset-3">
		<h4><%= "No hay productos en la lista #{@user_wishlist.wishlist.name}" %></h4>
	</div>
<% end %>