<%= form_for @store, html: {multipart: true} do |f| %>
  <% if @store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% @store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-12 no-padding top">
    <% if @store.cover_photo? %>
      <%= image_tag @store.cover_photo, class: "not-bordered under" %>
    <% else %>
      <%= image_tag "default_cover_photo.png", class: "not-bordered under" %>
    <% end %>

    <div class="store-overlaying">
      <div class="col-3 col-offset-1 no-padding photo-field">
        <label class="upload_store_photo">
          <%= image_tag "camera.svg" %>
          <%= f.file_field :photo %>
        </label>
        <%= f.hidden_field :photo_cache %>
        <%= image_tag(@store.photo) if @store.photo? %>
      </div>

      <div class="col-7 inline half-padding">
        <div class="col-9 no-padding">
          <h2>
            <%= f.text_field :name, placeholder: "Nombre Tienda" %>
          </h2>
        </div>
      </div>
      <div class="col-1 no-padding bottom">
        <label class="upload_cover_store_photo">
          <%= image_tag "camera.svg" %>
          <%= f.file_field :cover_photo %>
        </label>
        <%= f.hidden_field :cover_photo_cache %>
      </div>
    </div>
  </div>

<div class="col-12 no-padding top">
  <div class="col-2 col-offset-1">
    <div class="col-12 no-padding">
      <%= link_to image_tag("facebook.svg"), "#", class: "myButton" %>
      <div class="dropDownField">
        <%= f.text_field :facebook_link, class: "no-padding" %><%= image_tag "check.svg", class: "myButton col-2 col-offset-10 no-padding button" %>
      </div>
    </div>

    <div class="col-12 no-padding">
      <%= link_to image_tag("instagram.svg"), "#", class: "myButton2" %>
      <div class="dropDownField2">
        <%= f.text_field :instagram_link, class: "no-padding" %><%= image_tag "check.svg", class: "myButton2 col-2 col-offset-10 no-padding button" %>
      </div>
    </div>
  </div>

  <div class="col-7 col-offset-1">
    <p>
      <%= f.text_area :description, placeholder: "Descripción de tu tienda" %>
    </p>
    <div class="col-3 col-offset-2 no-padding">
      <%= image_tag "whatsapp.svg" %>
    </div>
    <div class= "col-7 no-padding">
      <h3 class="align-right">
        <%= f.text_field :phone_number, placeholder: "Celular" %>
      </h3>
    </div>
  </div>

  <div class="row"></div>

  <div class="col-10 col-offset-1">
    <h3 class="text-center top">¿Dónde entregas?</h3>
      <% @lines.each do |line| %>
        <h3 class="accordion"><%= image_tag "metro.svg", class: "icon" %>Línea <%= line.name %></h3>
        <div class="panel block relative metro-line">
          <%= f.collection_check_boxes :station_ids, line.stations, :id, :name do |b| %>
            <%= b.label { b.check_box + b.text } %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
