<div class="col-12 no-padding top">
  <%= image_tag @store.cover_photo, class: "not-bordered under top" %>

  <div class="store-overlaying">
    <div class="col-3 col-offset-1 no-padding">
      <%= image_tag @store.photo, class: "circle" %>
    </div>

    <div class="col-7 inline half-padding">
      <div class="col-9 no-padding"><h2><%= @store.name %></h2></div>
        <div class="col-3 no-padding align-right inline">
          <%= render partial: "likes/form_store", locals: {likeable: @store} %>
          <h3><%= @store.likes.count %></h3>
        </div>
    </div>
  </div>
</div>

<div class="col-12 no-padding top">
  <div class="col-2 col-offset-1">
    <div class="col-12 no-padding">
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
        <path class="facebook" d="M8.52 0h83q8.48 1.28 8.48 8.52v83q-1.28 8.48-8.52 8.48h-21.59a.5.5 0 0 1-.57-.57v-37.21a.54.54 0 0 1 .57-.57h12.21l2-15.34h-14.21a.5.5 0 0 1-.57-.57v-10.8q0-5.4 9.38-5.4h6v-13.63a104.83 104.83 0 0 0-11.36-.57h-.9q-13 0-17.9 11.93a26.8 26.8 0 0 0-1.14 7.67v10.8a.5.5 0 0 1-.57.57h-12.49v15.34h12.5a.55.55 0 0 1 .57.57v37.21a.5.5 0 0 1-.57.57h-44.32q-8.52-1.28-8.52-8.52v-83q1.28-8.48 8.52-8.48z"/>
      </svg>
    </div>
    <div class="col-12 no-padding">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
        <path class="instagram" d="M50.2 36.1c-7-.1-12.8 5.6-12.9 12.7v.3c-.1 7.4 5.5 13.3 12.5 13.4 7 0 12.8-5.7 12.8-12.8v-.3c0-7.3-5.5-13.2-12.4-13.3zm40.7-36.1h-81.5c-4.7 0-6.9 1.4-9.4 7.1v84c0 4.9 3.8 8.9 9.4 8.9h81.5c4.8 0 6.6-3.1 9.1-8.8v-84c0-5-3.5-7.2-9.1-7.2zm-1.9 70.2c.1 10.2-8.1 18.7-18.3 18.8h-39.3c-10.5 0-20.4-8-20.4-18.8v-40c0-10.7 9.9-20.2 20.4-20.2h38.8c10.4 0 18.8 9.5 18.8 20.2v40zm-19.9-53.7h-37.2c-7.2.1-13 6.1-12.9 13.4v38.7c-.1 7.3 5.7 13.3 12.9 13.4h37.2c7.2-.1 13-6.1 12.9-13.4v-38.7c.1-7.3-5.6-13.3-12.9-13.4zm-19.3 52.9c-10.9-.1-19.5-9.1-19.5-20.3 0-11.2 8.7-20.4 19.6-20.4 10.9 0 19.6 9.1 19.6 20.4 0 11.3-8.8 20.4-19.7 20.3zm25-41.4c.1 2.5-1.9 4.6-4.5 4.7-2.6-.1-4.6-2.2-4.7-4.8 0-2.6 2-4.7 4.6-4.7 2.5 0 4.5 1.9 4.6 4.5v.3z"/>
      </svg>
    </div>
  </div>

  <div class="col-7 col-offset-1">
    <p><%= @store.description %></p>
    <div class="col-3 col-offset-2 no-padding">
      <%= image_tag "whatsapp.svg" %>
    </div>
    <div class= "col-7 no-padding">
      <h3 class="align-right"><%= @store.phone_number %></h3>
    </div>
  </div>

  <div class="col-10 col-offset-1 icon text-center">
      <% @store.stations.each do |station| %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 76.3">
          <path d="M50,0C22.4,0,0,17.1,0,38.2c0,21,22.4,38.2,50,38.2s50-17.1,50-38.2C100,17.1,77.6,0,50,0z M50,70 C25.9,70,6.3,55.7,6.3,38.2C6.3,20.6,25.9,6.3,50,6.3s43.7,14.3,43.7,31.8C93.7,55.7,74.1,70,50,70z"/> 
          <path class="<%= station.lines.first.alias %>" d="M51.8,19.2c-0.5-1-1.7-1.3-2.7-0.8c-0.3,0.2-0.6,0.5-0.8,0.8l-9.5,16.3c-0.9,1.6-0.9,3.5,0,5.1L48.2,57 c0.5,1,1.7,1.3,2.7,0.8c0.4-0.2,0.6-0.5,0.8-0.8l9.5-16.3c0.9-1.6,0.9-3.5,0-5.1L51.8,19.2z M27.8,19.2c-0.5-1-1.8-1.3-2.7-0.8 c-0.3,0.2-0.6,0.5-0.8,0.8l-9.5,16.3c-0.9,1.6-0.9,3.5,0,5.1L24.3,57c0.5,1,1.7,1.3,2.7,0.8c0.4-0.2,0.6-0.5,0.8-0.8l9.5-16.3 c0.9-1.6,0.9-3.5,0-5.1C34.3,30.2,30.2,23.2,27.8,19.2z M85.2,35.5l-9.5-16.3c-0.5-1-1.7-1.3-2.7-0.8c-0.3,0.2-0.6,0.5-0.8,0.8 l-9.5,16.3c-0.9,1.6-0.9,3.5,0,5.1L72.1,57c0.5,1,1.7,1.3,2.7,0.8c0.4-0.2,0.6-0.5,0.8-0.8l9.5-16.3C86.1,39.1,86.1,37.1,85.2,35.5 z"/>
        </svg> 
        <%= "#{station}" %>
        <% if (station != @store.stations.last) %>
        ·
        <% end %>
      <% end %>
    </p>
  </div>
</div>
<%= render partial: "shared/linebreak" %>

<% if @store.products.any? %>
  <%= render partial: "products/product" %>
<% else %>
  <div class="row"></div>
  <div class="col-10 col-offset-1 text-center"><h4>No hay productos en la Tienda</h4></div>
<% end %>

<% if can? :create, @store.products.build %>
  <%= render partial: 'products/form' %>
<% end %>

<%= render partial: "shared/linebreak" %>

<% if @store.comments.any? %>
  <%= render partial: "comments/comments_store", locals: {commentable: @store} %>
<% end %>

<%= render partial: "comments/form_store", locals: {commentable: @store} %>

<% if can? :edit, @store  %>
  <div class="col-4 col-offset-7 align-right">
      <%= link_to image_tag("gear.svg"), edit_store_path(@store), class: "icon" %>
      <%= link_to image_tag("garbage.svg"), @store, class: "icon", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>