<footer class="footer-perpetual col-12 half-padding">
	<nav>
		<ul>
			<li class="col-3 double-padding-sides">
				<%= link_to image_tag("isotype.svg"), pages_index_path %>
			</li>
			<li class="col-3 double-padding-sides">
				<%= link_to image_tag("search.svg"), search_searches_path %>
			</li>
			<li class="col-3 double-padding-sides">
				<%= link_to image_tag("friends.svg") %>
			</li>
			<li class="col-3 double-padding-sides">
				<% if current_user.store.nil? %>
					<%= link_to image_tag("store.svg"), new_store_path %>
				<% else %>
					<%= link_to image_tag("store.svg"), current_user.store %>
				<% end %>
			</li>
		</ul>
	</nav>
</footer>