<header class="header-perpetual col-12 no-padding">
	<div class="col-3">
		<%= link_to image_tag("back.svg"), :back %>
	</div>
	<div class="col-6">
		<%= image_tag "logotype.svg" %>
	</div>
	
	<div class="col-2 col-offset-1 myMenu no-padding">
		<ul class="dropDownMenu">
			<li><%= link_to image_tag(current_user.avatar), "#", class: "circle" %>
				<ul class="specific-width">
					<li><%= link_to 'Ver perfil', current_user %></li>
					<li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		</ul>
	</div>
</header>