<div class="col-10 no-padding col-offset-1">	
	<div class="col-3 aside-hr-left">
	</div>
	<div class="col-6 no-padding">
		<h1 class="text-center">¿Qué deseas hoy?</h1>
	</div>
	<div class="col-3 aside-hr-right">
	</div>
</div>

<div class="col-4 col-offset-4 round-border text-center no-padding">
	<%= image_tag "promo_search.png", class: "under" %>
	<div class="principal-buttons-overlaying">
		<%= link_to image_tag("search.svg"), search_searches_path %>
		<%= link_to "Agranda tus Deseos", search_searches_path %>
	</div>
</div>

<div class="col-4 col-offset-4 round-border text-center no-padding">
	<%= image_tag "promo_friends.png", class: "under" %>
	<div class="principal-buttons-overlaying">
		<%= link_to image_tag("friends.svg"), "#" %>
		<%= link_to "Deseos de Amigos", "#" %>
	</div>
</div>

<%= render partial: "shared/button_for_own_store" %>

<%= render partial: "shared/linebreak" %>

<div class="col-12 promo-pic no-padding">
	<%= image_tag "best_seller.png", class: "not-bordered under" %>
	<div class="col-10 no-padding col-offset-1">	
		<div class="col-3 aside-hr-left">
		</div>
		<div class="col-6 no-padding">
			<h1 class="text-center">Lo más deseado</h1>
		</div>
		<div class="col-3 aside-hr-right">
		</div>
	</div>
</div>
	
</div>

<%= render partial: "pages/product_carrousel" %>

<%= render partial: "shared/linebreak" %>

<div class="col-12 promo-pic no-padding">
	<%= image_tag "recommended.png", class: "not-bordered" %>
	<div class="col-10 no-padding col-offset-1">	
		<div class="col-3 aside-hr-left">
		</div>
		<div class="col-6 no-padding">
			<h1 class="text-center">Recomendado</h1>
		</div>
		<div class="col-3 aside-hr-right">
		</div>
	</div>
</div>

<%= render partial: "pages/recommended_stores" %>