<h1>Searches#index</h1>
<%= form_tag search_searches_path do %>
	<div class="field">
		<%= label_tag :distance %>
		<%= number_field_tag :distance %>
	</div>
	<%= hidden_field_tag :latitude, nil, id: "user_latitude" %>
	<%= hidden_field_tag :longitude, nil, id: "user_longitude" %>
	<%= submit_tag 'Filtar' %>
<% end %>

<%= render partial: "products/product" %>