<div class="col-10 no-padding col-offset-1 top">	
	<%= render partial: "shared/aside_hr_left" %>
	<div class="col-6 no-padding">
		<h1 class="text-center">Busca tu producto</h1>
	</div>
	<%= render partial: "shared/aside_hr_right" %>
</div>

<%= form_tag search_searches_path, method: :get do %>
	<div class="col-10 col-offset-1 other-background search">
		<%= text_field_tag :key_word, nil, placeholder: "Palabra clave" %>

		<div class="col-5 no-padding no-margin-items">
			<%= label_tag :first_price, 'Precio mínimo' %>
			<p class="align-right">$ <%= number_field_tag :first_price, 0, class: "price" %></p>
		</div>
		<div class="col-5 col-offset-2 no-padding no-margin-items">
			<%= label_tag :second_price, 'Precio máximo' %>
			<p class="align-right">$ <%= number_field_tag :second_price, nil, class: "price" %></p>
		</div>

		<%= text_field_tag :tags, nil, placeholder: "Tags separados por ',' " %>


		<div class="col-5 col-offset-7 no-padding no-margin-items">
			<p class="align-right"><%= number_field_tag :distance, nil, placeholder: "Distancia", class: "distance", min: "1" %> km</p>
		</div>

		<div class="row"></div>

		<%= hidden_field_tag :latitude, nil, id: "user_latitude" %>
		<%= hidden_field_tag :longitude, nil, id: "user_longitude" %>
		<%= submit_tag 'Filtar', class: "button" %>
	</div>
<% end %>

<%= render partial: "products/product" %>