<h1>Searches#index</h1>
<%= form_tag search_searches_path do %>
	<div class="field">
		<%= label_tag :distance %>
		<%= number_field_tag :distance %>
	</div>

	<div class="field">
		<%= label_tag :key_word, 'Filtrar' %>
		<%= text_field_tag :key_word %>
	</div>

	<div class="field">
		<%= label_tag :first_price, 'Price between' %>
		<%= number_field_tag :first_price, 0, step: 500 %>
		<%= label_tag :second_price, 'and' %>
		<%= number_field_tag :second_price, nil, step: 500 %>
	</div>

	<div class="field">
		<%= label_tag :tags, 'Tags' %>
		<%= text_field_tag :tags %>
	</div>

	<div class="field">

	</div>

	<%= hidden_field_tag :latitude, nil, id: "user_latitude" %>
	<%= hidden_field_tag :longitude, nil, id: "user_longitude" %>
	<%= submit_tag 'Filtar' %>
<% end %>

<%= render partial: "products/product" %>