<div class="row"></div>
<% @products.each do |product| %>

  <div class="col-4 col-offset-1 no-padding">
    <%= link_to image_tag(product.photo), [product.store, product], class: "under" %>
    <div class="col-3 no-padding icon-store-overlaying">
      <%= link_to image_tag("store.svg"), product.store, class: "not-bordered" %>
    </div>
    <a href="#" class="button"><%= image_tag "whatsapp.svg", class: "icon" %> Contáctate</a>
  </div>

  <div class="col-6 no-top-padding no-bottom-padding">
    <h2><%= link_to product.name, [product.store, product] %></h2>
    <h3>$<%= product.price %></h3>
    <p><%= product.description %></p>
    <p class="align-right">
      <% product.tags.each do |tag| %>
        #<%= tag %>
      <% end %>
    </p>

    <% if can? :edit, product %>
      <p class="align-right">
        <%= link_to image_tag("gear.svg"), edit_store_product_path(product.store, product) %>
        <%= link_to image_tag("garbage.svg"), [product.store, product], method: :delete, data: { confirm: 'Are you sure?' }%>
      </p>
    <% end %>
  </div>

  <div class="col-6 col-offset-3">
    <% @user_wishlists.each do |user_wishlist| %>
      <div class="col-4 half-padding">
      <% if user_wishlist.products.include? product %>
        <%= link_to image_tag(user_wishlist.wishlist.icon), remove_from_user_wishlist_path(user_wishlist, product), method: :delete, class: "selected" %>
      <% else %>
        <%= link_to image_tag(user_wishlist.wishlist.icon), add_to_user_wishlist_path(user_wishlist, product), method: :post, class: "unselected" %>
      <% end %>
      </div>
    <% end %>
  </div>
  <%= render partial: "shared/linebreak" %>
<% end %>