<div class="col-12 no-padding super-top">
  <%= image_tag @product.photo, class: "not-bordered under" %>
</div>

<div class="information-product-overlaying col-12 no-padding">
  <div class="col-2">
  	<%= link_to image_tag("store.svg"), @product.store %>
  </div>

  <div class="col-3 col-offset-7 align-right inline">
  	<%= render partial: "likes/form", locals: {likeable: @product} %>
      <h3><%= @product.likes.count %></h3>
  </div>
</div>

<div class="row"></div>

<div class="buttons-product-overlaying col-12 no-padding">
  <div class="col-3 col-offset-2">
  	<%= link_to image_tag("previous.svg") %>
  </div>
  <div class="col-3 col-offset-2">
  	<%= link_to image_tag("next.svg") %>
  </div>
</div>

<div class="col-10 no-padding col-offset-1">  
    <h2 class="text-center"><%= @product.name %></h2>
</div>

<div class="col-3 col-offset-1 no-padding no-margin">
	<h1>$<%= @product.price %></h1>
</div>

<div class="col-5 col-offset-2 no-padding">
  <a href="#" class="button full-size"><%= image_tag "whatsapp.svg", class: "icon" %> Contáctate</a>
</div>

<div class="row"></div>

<div class="col-10 col-offset-1">
	<p><%= @product.description %></p>
	<p class="align-right">
      <% @product.tags.each do |tag| %>
        #<%= tag %>
      <% end %>
    </p>

    <p class="text-center"><%= image_tag "metro.svg", class: "icon" %></p>
  	<p>
      <% @product.store.stations.each do |station| %>
        <%= "#{station}" %>
        <% if (station != @store.stations.last) %>
        ·
        <% end %>
      <% end %>
    </p>

</div>

<div class="col-10 col-offset-1">
	<%= render partial: "user_wishlists/add_to_wishlist" %>
</div>

<%= render partial: "shared/linebreak" %>

<% if @store.comments.any? %>
	<%= render partial: "comments/comments", locals: {commentable: @product} %>
<% end %>

<%= render partial: "comments/form", locals: {commentable: @product} %>

<% if can? :edit, @product %>
  <p class="align-right">
    <%= link_to image_tag("gear.svg"), edit_store_product_path(product.store, product) %>
    <%= link_to image_tag("garbage.svg"), [product.store, product], method: :delete, data: { confirm: 'Are you sure?' }%>
  </p>
<% end %>