<!DOCTYPE html>
<html>
<head>
  <title>ProyectoFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: 'shared/header' if user_signed_in? %>

<main class="col-12 no-padding">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
</main>

<%= render partial: 'shared/footer' if user_signed_in? %>

</body>
</html>