<!DOCTYPE html>
<html>
<head>
	<title>Regala.me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=Lato:900,400,300' rel='stylesheet' type='text/css'>
</head>
<body class="<%= controller_name %> <%= action_name %>">

	<%= render partial: 'shared/header' if user_signed_in? %>

	<main class="col-12 no-padding">
		<% if notice %>
			<p class="notice"><%= notice %></p>
		<% elsif alert %>
			<p class="alert"><%= alert %></p>
		<% end %>
		
		<%= yield %>
	</main>

	<%= render partial: 'shared/footer' if user_signed_in? %>
</body>
</html>